COINGECKO_KEY="Your_key_here"
NEWSDATA_KEY="Your_key_here"
ALCHEMY_KEY="Your_key_here"
TELEGRAM_BOT_TOKEN="Your_token_here"
DB_PASSWORD="Your_password_here" Note:(only if you use Oracle Database)
DB_USER="Your_username_here" Note:(only if you use Oracle Database)
DB_DSN="Your_DSN_here" Note:(only if you use Oracle Database)
GROQ_API_KEY="Your_key_here"
CEREBRAS_API_KEY="Your_key_here"
GEMINI_API_KEY="Your_key_here"
OPENROUTER_API_KEY="Your_key_here"
SOLANA_DRPC_URL="Your_url_here"

CLOUDFLARE_API_TOKEN="Your_token_here"
CLOUDFLARE_ACCOUNT_ID="Your_account_ID_here"
 SUBSCANOPEN_KEY="Your_key_here"
HELIUS_API_KEY="Your_key_here"
ONFINALITY_RPC_URL="Your_url_here"
PUBLICNODE_POLKADOT_URL="Your_url_here"
DOTLAKE_API_PARITY_KEY="Your_key_here"
SOLANA_DECODE_USE_AI=true
CHAINSTACK_BASE_URL="Your_url_here"
ETHERSCAN_API_KEY="Your_key_here"
DRPC_BASE_URL="Your_url_here"
BLOCKPI_BASE_URL="Your_url_here"
NODEREAL_BASE_URL="Your_url_here"
BLOCKREQ_BASE_URL="Your_url_here"
